[mysqld]
# changes the default charcter set to utf-8.
# uses the below post as a reference.
# https://mariadb.com/kb/en/mariadb/setting-character-sets-and-collations/
collation-server=utf8_general_ci
init-connect='SET NAMES utf8'
character-set-server=utf8

# changed to be case insensitive.
lower_case_table_names=1

[mysql]
default-character-set=utf8

[client]
default-character-set=utf8
